.projectV2wrapper{
    display: grid;
    height: 100%;
    grid-template-rows: max-content 1fr;
    grid-template-columns: max-content 1fr;
    h1{
        color: #A680FF;
        font-size: 3.5em;
    }
    
}
.side-nav-main h5{

    font-size: 1.2em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;

}


.projectscontainer{
    line-height: 1.60;
    min-height: 100%;
    width: 100%;
    top: 0em;
    position: absolute;

    color: #202020;

}
.active-link{
    text-decoration: underline;
    margin-left: 8px;
    color: #80E2FF;
    font-size: 1.2em;
}
.nav-container{
    height: 1px;
    position: relative;
}
.top-margin{

    margin-top: 16px !important;

}
.side-nav-main{
    text-decoration: #3836A3;
    padding-left: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid #222222;
    transition: all 0.2s ease-out 0.2s;

}
.side-nav-main a{
    transition: all 0.2s ease-out;
}

.open-arrow{

    transform: rotate(180deg);

}
.side-nav-main i{

    transition: all 0.2s ease-out 0.4s;

}
.side-nav-main li{
    padding: 8px;
}
.side-nav-sub{
    overflow: hidden;
    color: #efefef;
    transition: all 0.4s ease-out;
    max-height: 0px;
}
.open{
    max-height: 350px !important;
}
.projectV2sidenav{
    padding-top: 12px;
    white-space: nowrap;
    overflow-x: hidden;
    grid-column: 1/2;
    grid-row: 2/3;
    height: 100%;
    width: auto;
    overflow-y: auto;
    position: relative;
    // transition: all 0.3s ease-in-out;
}
.visible{
    display: block !important;
}
.full-view{
    grid-column: 1/3 !important;
}
.fullscreen-project{

    margin: 0px 2% 0px 2% !important;

}
.full-view-small{
    grid-column: 1/3 !important;
    width: 95% !important;
    height: 100%;
    position: absolute;
    margin: 0px auto 2% auto !important;
    

}
.fade-in{
  
    animation: fade-in 0.5s ease-out;
    animation-fill-mode: forwards;
}

.projectV2projects{
    margin: 0px 0% 4% 2%;
    border-left: 2px solid rgb(140, 169, 255);
    transform-origin: left top;
    grid-column: 2/3;
    overflow: auto;
    grid-row: 2/3;
    color: #efefef;
    position: relative;
    .toggler{
        position: sticky;
        top: 1em;
        right: 1em;
        margin: 0;
        float: right;
        z-index: 10;
        i{
            margin-left: 0px;
            font-size: 2em;
            border-radius: 150px;
            transform-origin: center;
            z-index: 1;
            // animation: small-blow-up 1s ease-out 2;
            color: #80E2FF;
     
            background-color: #333333;
            padding: 12px;
        }
        .tooltip{
            position: absolute;
            right: 4em;
            top: 0px;

        }
 

    }
    .toggler-side-menu{

        i{
       
        
            animation: up-down 0.5s ease-out 2;
            color: #333333;
            font-size: 2em;
        }
        z-index: 5;
        top: 1em;
        left: 1em;
        display: none;
        position: sticky;
        

    }   
}