@import "./variables/colors.scss";
@import "./classes/font.scss";
@import "./classes/removes.scss";
@import "./classes/layout.scss";
@import "./responsive/responsive.scss";
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
