
// simple theme colors
$off-black: #333;
$off-white: #efefef;
$main-purple: #A480FF;
$main-purple-blue: #7674E8;
$main-dark-blue: #8CA9FF;
$main-blue: #74B0E8;
$main-lighter-blue: #80E2FF;


$default-padding: 12px;
