//@import "saisho-style-lib/main.scss";

@import url(keyframes.scss);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: #EFEFEF;
}
html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #202020;
    color: #eeffee;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
.dvforgeviewer{

    position: relative;
    height: 80vh;

}
::-webkit-scrollbar {
    display: none;
}
.full{
    background-color: #3836A3;
    position: relative;
    margin: 0px;
    width: 100%;
    height: 100%;
}
.grid-container{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content 1fr max-content;
    align-items: start;
    position: relative;
}
.blow-up{

    animation: blow-up 0.8s ease-out;

}
.non-display{

    display: none !important;

}
.grid-container2{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr max-content 1fr;
    align-items: start;
}
li{
    list-style: none;

}

i{
    color: #cccccc;
    margin-left: 8px;
    position: relative;
}
.nav{
    grid-column: 1/13;
    padding-top: 8px;
    padding-bottom: 0px;
    padding-right: 0px;
    grid-row: 1/2;
    justify-self: end;
    border-bottom: 2px solid #7674E8;
}
.nav a{
    line-height: 2;
    position: relative;
    float: left;
    padding-bottom: 8px;
    padding-right: 72px;
    font-size: 1.3em;
    color: #EFEFEF;
    text-decoration: none;
 
}
.nav i{
    transition: all 0.2s ease-out;
}
.nav a:hover i{
    animation: color-change 1s ease-out infinite, up-down 0.5s ease-out infinite;
    transform: scale(1.5);

}
.nav a:hover{

}
.on-off{
    animation: on-off 1.2s ease-out 5;
}
.nav a:nth-child(1){
    
    padding-left: 16px !important;
}
.nav a:nth-child(2){
    
    padding-left: 16px !important;
}
.footer{
    grid-column: 1/13;
    grid-row: 3/4;
    font-size: 1.2em;
    align-self: end;
    padding: 12px;
    border-top: 2px solid #74B0E8;
}
.footer i{
    transition: all 0.2s ease-out;
    font-size: 1.2em;
    margin-left: 16px;
}
.footer i:hover{
    color: #3836A3;
    transform: scale(2);
}
.content-about{
    grid-column: 1/13;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
}
.content{
    grid-column: 1/13;
    grid-row: 2/3;
    height: 100%;
}
.body-content{
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: 1;
    padding-top: 20vh;
}

.about-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: start;
}
.about{
    max-width: 1200px;
    background-color: #EFEFEF;
    color: #141414;
    justify-self: center;
}
.main-content{

    background-color: #EFEFEF;
    
    grid-column: 1/5;
    border-bottom: 32px solid #3836A3;
    padding: 48px;
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 48px;
    margin-bottom: 48px;
    max-width: 1600px;
    color: #333333;
    justify-self: center;
}
.main-content h2{
    font-family: 'Playfair Display', serif;
    padding-bottom: 12px;
    font-size: 2em;
}
.portrait{
    margin: 16px;
    grid-column: 2/3;
}
.p-head{
    margin-bottom: 24px;
    border-bottom: 2px solid #3836A3;
}
.main-text{
    align-self: start;
    margin: 16px;
    grid-column: 3/4;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    font-weight: 400;
}
.main-text h2{
    margin-top: 24px;
}
.projectscontainer{
    h1{
        width: 80%;
        font-size: 5em;
        color: #74B0E8;
        border-bottom: 2px solid #222222;
    }
    h2{
        padding: 0 !important;
        margin-bottom: 2%;
        position: sticky;
        top: 0em;
        color: #222222;
        border-bottom: 2px solid #74B0E8;
        background-color: rgb(231, 249, 255);
    }
    p{
        margin-bottom: 8%;
    }

}
.project-nav{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
    flex-direction: column;
    padding-bottom: 2%;
    background-color: rgb(198, 228, 255);
    justify-content: flex-start;
    top: 0em;

}
.modal-full{

    height: 100%;
    width: 100vw;
    opacity: 0.9;
    left: 0em;
    display: none;
    top: 0em;
    padding: 12%;
    position: fixed;
    z-index: 100;
    background-color: #3836A3;

}
.project-nav a{
    padding-top: 2%;
}
@media(max-width: 760px){
    body{
        display: none;
    }
}
@media(max-width: 900px){
    .nav a{
        padding-right: 48px;
    }
}
@media(min-width: 2000px){
    body{
        font-size: 1.6em;
    }
    .portrait img{
        width: 640px;
    }
}